.home-bg-author{
	color: #fff;
    opacity: 0.6;
}

.home-footer{
	height: 600px;
	background: url("https://images.unsplash.com/photo-1541417904950-b855846fe074?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3250&q=80") no-repeat fixed center;
	 background-size:  100% auto;
}