.home-bg-author{
	color: #fff;
    opacity: 0.6;
}

.home-footer{
	height: 600px;
	background: url("/images/nattu-adnan-atSUvc1hMwk-unsplash.jpg") no-repeat fixed center;
	 background-size:  100% auto;
}