.logo a{
	color: #212529;
    line-height: 90px;
}
.search_header {
	padding-left: 90px;
	border-bottom: solid #eeeeef 1px;
	background:#fff;
}
.header_content{
	height: 90px;
}


.search_header_inner{
    position: fixed;
    background: white;
    width: 100%;
    z-index: 10;
    left: 0;
    border-bottom: 2px solid #efefef;
    padding-left: 31px;
}



#home_search_form{
	         margin: 0 auto 20px auto;
	         box-shadow:0 2px 18px rgba(0,0,0,.15);
}
.home_search_button {
	border-radius: 0px;
	height: 50px;
}
.search_input {
	width:100%;
	min-width:500px;
}

.header.scrolled{
	background: #fff;
}

.news{
	padding-top: 93px;
}

#list-items{
	margin-top:25px;
	padding-left:40px;

}
.filter_container{
	margin: 12px auto;
}
.button {
    width: 70px;
    height: 32px;
 }

 .button_3 a {
 	line-height: 30px;
 	font-size: 14px;
 	font-family:'Oswald', sans-serif;
 }

 .button:not(:last-child){
 	margin-right:15px;
 }


.filter-container {
	margin: 5px auto 8px auto;
    padding: 0px 10px 10px 0px;
}
.filter-container a{
	line-height: 30px;
}

.filter-container .loader_title{
	padding: 5px;
}
.loader_title
{
    font-family: 'Helvetica','Arial','sans-serif';
    font-size: 18px;
    color: #181818;
    font-weight: 400;
    padding: 0 2px;
}

.filter-button{
    margin:3px 2px;
	background: white;
	border: 1px solid #dddddd;
	color:#212529;
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;
    line-height:1;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.filter-button:not([disabled]):not(.disabled).active{
	background: #212529;
	color:white;
	border-color: #666e76;

}
.filter-button:not([disabled]):not(.disabled):hover{
	background: #212529;
	color:white;

}
.pagination-container{
	border-top: solid #eae8e4 2px;
	border-bottom: solid #eae8e4 2px;
	margin-top:30px;
}
.pagination{

	margin:10px;
	width: auto;
	
}


.stats-pagination{

	font-family: 'Helvetica','Arial','sans-serif';
    font-size: 18px;
    font-weight: 400;
    color: #72728c;

}

.intro_icon{
	width: 40px;
    height: 40px;
    height: 60px;
}

.intro_content{
	background: black;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    top: -9px;
    left: 22px;
    color: #fff;
    padding-left:0px;
        text-align: center;
    font-size: 14px;
}

.latest_post{
	padding: 12px;
}
.latest_post:hover{
	box-shadow:0 2px 18px rgba(0,0,0,.15);
}

.latest_post_content{
	padding-left: 8px;
}
.latest_post_image{
	width: 100%;
    border: 5px solid white;
    margin: auto;
}

.cart{
	margin-right: 60px;
}
.footer{
	padding-top: 30px;
}
.latest_post_image img{
    width: 100%;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: unset;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
.modal-body{
	padding: 0px;
}

.modal-header .close{
	 margin: auto;
    font-size: 26px;
    border: 2px solid #333;
    width: 30px;
    padding: unset;
    margin-right: 20px;
    opacity: 1;
}
.modal_post_image{
	float: left;
}
.modal_post_image img{
	max-height: 280px;
}
.detail-title{
	font-weight: 400;
    color: #333;
    line-height: 1.2em;
    font-size: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10%;
    font-family: 'Helvetica','Arial','sans-serif';
    width: 100%;
}
.detail-pics {
    display: flex;
    margin: 0;
    padding: 0;
}
.detail-container{
     padding: 10px 15px;
     max-width: 80%;
     margin: 0 auto;
}
.modal .sub-title{
    font-family: 'Helvetica','Arial','sans-serif';
    font-size: 13px;
    font-weight: 300;
    color: #72728c;
    text-transform: uppercase;
    line-height: 0.75;
    letter-spacing: 0.05em;
    margin-left: 8px;

}

.detail-section{
    border-bottom: solid #eae8e4 2px;
    padding-bottom: 30px;
}

.modal-header{
	margin: 0;
    padding: 0;
}

.icons a{
    font-size: 28px;
    color: #333;
    opacity: 0.6;
    padding: 5px;
}

.icons a:hover{
    opacity: 1;
}
.key{
    color: black;
    font-weight: 600;
}
.checked{
    color: orange;
}
.float-right{
	float: right;
}

.float-left{
	float: left;
}
.place-help-button{
    margin-left: -4px;
}

.place-help-button .help-icon{
    border: 1px solid #efefef;
    background: #efefef;
    color: black !important;
    cursor: pointer !important;
}
.place-help-button .help-icon:hover{
    border: 1px solid #efefef !important;
    background: #efefef !important;
    color: black !important;
    cursor: pointer !important;
}

.place-help-button .heart{
    border: 1px solid #efefef;
    background: #efefef;
    cursor: pointer !important;
    color: rgba(255, 0, 0, 0.7) !important;
}

.place-help-button .heart:hover{
    border: 1px solid #efefef !important;
    background: #efefef !important;
    cursor: pointer !important;
    color: rgba(255, 0, 0, 0.7) !important;
}

.icons a {
    margin: 0 5px;
    background: #efefef;
    font-size: 20px;
    color: #181818;
    opacity: 0.8;
}
.modal-dialog{
    pointer-events: auto;
}

.close-btn{
    background: #efefef !important;
    width: 50px !important;
    border: 1px solid #181818 !important;
}

.latest_post_title h5{
    color: #181818;
}
input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
    }